.damageTable.fixed {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 17em;
}

.damageTable:not(.fixed) {
    position: absolute;
    right: 10px;
    top: 90px;
    width: 17em;
}

.damageTable .label {
    padding-top: 5px;
    padding-right: 20px;
    width: 100%;
    text-align: right;
    display: inline-block;
}

.damageTable .maxHit {
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
}

.damageTable .damageInput input {
    width: 7em;
    background-color: transparent;
    font-size: 14px;
}

.damageTable .damageInput,
.damageTable .damageOutput {
    padding: 0;
}

.damageTable .damageOutput {
    position: relative;
    width: 9em;
    padding-left: 5px;
}

.damageTable .damageOutput .taken {
    padding-left: 5px;
}

.damageTable .damageOutput .healthBarContainer {
    font-size: 0;
    padding-right: 5px;
}

.damageTable .damageOutput .bar {
    height: 3px;
    display: inline-block;
}

.damageTable .damageOutput .health {
    background-color: #FF0000;
    border-bottom: 1px solid #8B0000;
}

.damageTable .damageOutput .physical {
    background-color: #708090;
    border-bottom: 1px solid #2F4F4F;
}

/* Tooltip text */
.damageTable .damageOutput .tooltip {
    visibility: hidden;
    width: 180px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -7em;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.damageTable .damageOutput .tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid transparent;
    border-bottom-color: #555;
}

.damageTable .damageOutput:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.damageTable .table-striped tr:nth-of-type(odd) {
    background-color: #F3FAFA;
}

.resistanceHeader {
    text-align: center;
    
}

.resistance .input {
    width: 2.5em;
    padding: 3px;
    text-align: center;
}

.resistanceContainer .resistance {
    background: 9px 8px no-repeat;
    padding-left: 23px;
    padding-right: 0;
    display: inline;
}

.resistanceContainer .fire.resistance {
    background-image: url("../icon/fire.png");
}

.resistanceContainer .cold.resistance {
    background-image: url("../icon/cold.png");
}

.resistanceContainer .lightning.resistance {
    background-image: url("../icon/lightning.png");
}

.resistanceContainer .chaos.resistance {
    background-image: url("../icon/chaos.png");
}