#armor {
    width: 5em;
    margin-right: 2em;
}

#charges {
    width: 3.5em;
}

#health {
    width: 4em;
}

#resistance {
    width: 2.5em;
}

#flat {
    width: 3.25em;
}

.checkbox {
    margin: 4px 0 0;
    line-height: normal;
    padding: 0;
}

.input {
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    display: inline-block;
    padding: 5px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.inputGroup {
    border-collapse: separate;
    position: relative;
    display: table;
    width: 4em;
}

.inputGroup .input:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.inputGroup .input {
    display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.inputGroup .inputGroupAddon {
    background-color: #D8E5EF;
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}

.inputGroup .inputGroupAddon.flat:hover {
    background-color: #C2CED7;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.inputGroup .inputGroupAddon:last-child {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Prevent increment/decrement arrows from appearing on number fields*/
.number.noIncrement::-webkit-outer-spin-button,
.number.noIncrement::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.number.noIncrement {
    -moz-appearance: textfield;
}