<!DOCTYPE html>
<html lang="en" ng-app="PathOfDamage">
<head>
  <meta charset="UTF-8">
  <title>Path of Damage</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="libs/lz-string.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/DataService.js"></script>
  <script src="js/selectAllOnClick.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/input.css">
  <link rel="stylesheet" href="css/damageTable.css">
  <link rel="shortcut icon" type="image/x-icon" href="icon/favicon2.ico"/>
</head>
<body ng-controller="Damage">
<div class="background">
  <div class="header">
    <div class="titleContainer">
      <div class="title">Path of Damage</div>
      <div>The Path of Exile physical hit damage mitigation calculator</div>
    </div>
    <div class="clearButtonContainer">
      <button class="button deleteButton" ng-click="clear()">Clear Form</button>
    </div>
  </div>
  <div class="inputSection">
    <div class="section" ng-repeat="(sectionName, section) in sections">
      <h4>{{section.name}}<br>
        <small><i>{{section.description}}</i></small>
      </h4>
      <div class="inputContainer" ng-if="section.armor !== undefined || section.charges !== undefined">
        <label>Armor:
          <input class="input number noIncrement"
                 type="number"
                 ng-model="section.armor"
                 ng-model-options="{debounce: 500}"
                 id="armor"
                 ng-change="updateDamageValues()"
                 select-all-on-click>
        </label>
        <label>Endurance Charges:
          <input class="input number"
                 type="number"
                 ng-model="section.charges"
                 ng-model-options="{debounce: 500}"
                 id="charges"
                 ng-change="updateDamageValues()"
                 select-all-on-click>
        </label>
      </div>
      <div class="tableContainer" ng-repeat="(tableName, table) in section.tables">
        <div class="tableTitle">{{table.name}}</div>
        <table class="table table-condensed">
          <tr ng-repeat="row in table.rows track by $index">
            <td>
              <label class="checkboxContainer">
                <input type="checkbox" class="checkbox " ng-model="row.enabled" ng-change="updateTotal(table)">
              </label>
            </td>
            <td class="name">
              <input class="input"
                     type="text"
                     placeholder="Source Name"
                     ng-model="row.name"
                     ng-change="add(table)"
                     ng-model-options="{debounce: 500}">
            </td>
            <td class="percent">
              <div class="inputGroup">
                <input class="input number noIncrement"
                       type="number"
                       placeholder="+/-"
                       ng-model="row.value"
                       ng-change="add(table)"
                       ng-model-options="{debounce: 500}"
                       ng-attr-id="{{tableName}}"
                       select-all-on-click>
                <div ng-if="tableName !== 'flat'" class="inputGroupAddon">%</div>
                <div ng-if="tableName == 'flat'"
                     class="inputGroupAddon flat"
                     ng-click="inverse(table, $index)"
                     unselectable="on"
                     onselectstart="return false;"
                     onmousedown="return false;">
                  +/-
                </div>
              </div>
            </td>
            <td ng-if="tableName==='shifts'">
              <table class="radio elementSelector">
                <tr>
                  <td><label class="select fire" ng-class="{selected: row.elements.fire}">
                    <input type="radio" name="shift" value="fire" ng-model="row.elements.model"
                        ng-change="setElement(table, row, 'fire')"></label></td>
                  <td><label class="select cold" ng-class="{selected: row.elements.cold}">
                    <input type="radio" name="shift" value="cold" ng-model="row.elements.model"
                           ng-change="setElement(table, row, 'cold')"></label></td>
                </tr>
                <tr>
                  <td><label class="select lightning" ng-class="{selected: row.elements.lightning}">
                    <input type="radio" name="shift" value="lightning" ng-model="row.elements.model"
                           ng-change="setElement(table, row, 'lightning')"></label></td>
                  <td><label class="select chaos" ng-class="{selected: row.elements.chaos}">
                    <input type="radio" name="shift" value="chaos" ng-model="row.elements.model"
                           ng-change="setElement(table, row, 'chaos')"></label></td>
                </tr>
              </table>
            </td>
            <td ng-if="sectionName==='taken'">
              <table class="multi elementSelector">
                <tr>
                  <td><label class="select physical" ng-class="{selected: row.elements.physical}">
                    <input type="checkbox" ng-model="row.elements.physical" ng-change="updateTotal(table)"></label></td>
                  <td><label class="select fire" ng-class="{selected: row.elements.fire}">
                    <input type="checkbox" ng-model="row.elements.fire" ng-change="updateTotal(table)"></label></td>
                  <td><label class="select cold" ng-class="{selected: row.elements.cold}">
                    <input type="checkbox" ng-model="row.elements.cold" ng-change="updateTotal(table)"></label></td>
                </tr>
                <tr>
                  <td><label class="select selectAll" ng-class="{allSelected: allSelected(row)}">
                    <input type="checkbox" ng-click="selectAll(table, row)"></label></td>
                  <td><label class="select lightning" ng-class="{selected: row.elements.lightning}">
                    <input type="checkbox" ng-model="row.elements.lightning" ng-change="updateTotal(table)"></label></td>
                  <td><label class="select chaos" ng-class="{selected: row.elements.chaos}">
                    <input type="checkbox" ng-model="row.elements.chaos" ng-change="updateTotal(table)"></label></td>
                </tr>
              </table>
            </td>
            <td>
              <div class="buttonContainer">
                <button ng-if="!$last"
                        class="button deleteButton"
                        ng-click="delete(table, $index)">
                  X
                </button>
              </div>
            </td>
          </tr>
        </table>
        <div class="total" ng-if="table.rows.length > 1 && !table.defaultElements">
          <div class="subTotal" ng-if="total != 0" ng-repeat="(totalName, total) in table.totals">
            {{capitalize(totalName)}}: <b>{{round(total)}}%</b>
          </div>
        </div>
        <div class="element total" ng-if="table.rows.length > 1  && table.defaultElements">
          <div class="subTotal {{totalName}}" ng-if="total != 0" ng-repeat="(totalName, total) in table.totals">
            <b>{{round(total)}}{{tableName !== 'flat' ? '%' : ''}}</b>
          </div>
        </div>
      </div>
      <hr class="borderLine">
    </div>
  </div>
</div>

<div class="damageTable" id="damageTable" ng-class="{fixed: fixedTable}">
  <table class="table table-bordered table-striped">
    <tr>
      <th>Physical Hit</th>
      <th>Damage Taken</th>
    </tr>
    <tr ng-repeat="hit in hits track by $index">
      <td class="damageInput">
        <input class="input number noIncrement"
               type="number"
               ng-model="hits[$index].hit"
               ng-model-options="{debounce: 500}"
               ng-change="updateHitRow($index)"
               ng-blur="deleteEmptyRow($index)"
               select-all-on-click>
      </td>
      <td class="damageOutput"><span class="taken">{{hit.taken}}</span>
        <div class="healthBarContainer">
          <div class="health bar" ng-style="getBarWidth(hit.remaining)"></div>
          <div class="physical bar" ng-style="getBarWidth(hit.taken)"></div>
        </div>
        <div class="tooltip">
          Phys Damage Taken: {{hit.physTaken}} <br/>
          <b ng-if="hit.eleTaken">Ele Damage Taken: {{hit.eleTaken}} <br/></b>
          Damage Mitigated: {{hit.mitigated}} <br/>
          Health Remaining: {{hit.remaining}}
        </div>
      </td>
    </tr>
  </table>
  <div class="maxHit">Maximum survivable hit: {{getMaximumSurvivableHit()}}</div>
  <div class="resistanceHeader">Resistances:</div>
  <div class="resistanceContainer">
    <label ng-repeat="(name, value) in sections.mitigation.resistance" class="label resistance {{name}}">
      <input class="input number noIncrement"
             type="number"
             ng-model="sections.mitigation.resistance[name]"
             ng-model-options="{debounce: 500}"
             ng-change="updateDamageValues()"
             select-all-on-click>
    </label>
  </div>
  <label class="label">Health and ES Pool:
    <input class="input number noIncrement"
           type="number"
           ng-model="sections.mitigation.healthPool"
           ng-model-options="{debounce: 500}"
           id="health"
           ng-change="updateDamageValues()"
           select-all-on-click>
  </label>
</div>
</body>
</html>
