.header {
    font-weight: bold;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #07889B;
    color: #FFF;
}

.title {
    font-size: 30px;
}

.input {
    padding: 10px;
    width: calc(100% - 17em - 10px);
    margin: 0;
}

.damageTable {
    position: fixed;
    right: 10px;
    top: 90px;
    width: 17em;
}

.damageTable .control-label {
    padding-top: 5px;
    width: 100%;
    text-align: center;
}

.damageTable .damageInput input {
    width: 7em;
    background-color: transparent;
    font-size: 14px;
}

.damageTable .damageInput,
.damageTable .damageOutput {
    padding: 0;
}

.damageTable .damageOutput {
    padding-left: 5px;
}

.damageTable .damageOutput {
    position: relative;
    width: 9em;
}

.damageTable .damageOutput .taken {
    padding-left: 5px;
}

.damageTable .damageOutput .healthBarContainer {
    font-size: 0;
    padding-right: 5px;
}

.damageTable .damageOutput .bar {
    height: 3px;
    display: inline-block;
}

.damageTable .damageOutput .health {
    background-color: #FF0000;
    border-bottom: 1px solid #8B0000;
}

.damageTable .damageOutput .physical {
    background-color: #708090;
    border-bottom: 1px solid #2F4F4F;
}

/* Tooltip text */
.damageTable .damageOutput .tooltip {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -7em;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.damageTable .damageOutput .tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid transparent;
    border-bottom-color: #555;
}

.damageTable .damageOutput:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.damageTable .table-striped tr:nth-of-type(odd) {
    background-color: #F3FAFA;
}

.form-control, .input-group-addon {
    padding: 5px;
}

input.form-control {
    width: auto;
    display: inline-block;
}

input#armor {
    width: 5em;
    margin-right: 2em;
}

input#health {
    width: 4em;
}

input#charges, input#resistance {
    width: 2.5em;
}

input#flat {
    width: 3.25em;
}

.tableContainer {
    display: inline-block;
    padding-right: 0.5em;
    position: relative;
    vertical-align: top;
}

.table {
    width: auto;
    margin-bottom: auto;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}


.table td {
    vertical-align: middle;
    padding: 5px 0 5px 3px;
    border-top: inherit;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #ddd;
}

.table th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    text-align: left;
}

.table .name input {
    width: 10em;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.input-group {
    border-collapse: separate;
    position: relative;
    display: table;
    width: 4em;
}

.input-group .input-group-addon {
    background-color: #D8E5EF;
}

.input-group .input-group-addon.flat:hover {
    background-color: #C2CED7;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.input-group .input-group-addon {
    background-color: #D8E5EF;
}

.input-group-addon:last-child {
    border-left: 0;
}

.input-group-addon:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group-addon {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}


.section .borderLine {
    border-bottom: 1px solid #66B9BF;
    border-top: 1px solid #B2DCDF;
    margin-bottom: 15px;
    margin-top: 15px;
}

.section label {
    position: relative;
    margin-top: 1.7em;
}

.section .tableTitle {
    padding-left: 20px;
    font-weight: bold;
}

.section .total {
    padding-left: 10em;
}

.section .buttonContainer {
    width: 30px;
}

.section .btn {
    font-weight: bold;
    opacity: 0;
    transition: opacity .35s ease;
}

.section .tableContainer tr:hover .btn {
    opacity: 1;
}

h4 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h4 small {
    font-size: 75%;
    font-weight: 400;
    line-height: 1;
    color: #777;
}

input[type=checkbox] {
    margin: 4px 0 0;
    line-height: normal;
    padding: 0;
}

.input-sm {
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.form-control {
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.input-group .form-control:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group .form-control {
    display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    overflow: visible;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin: 0;
}

* {
    box-sizing: border-box;
}